* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#bg-image {
    height: 100%;
    width: 40%;
    background: url(/images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    background: rgba(44, 44, 44, 0.685);
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

h1 {
    font-size: 4rem;
    color: white;
}

#image-credit {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 15%;
    font-size: 1.1rem;
}

#image-credit a {
    color: white;
    margin: 0 0.2rem;
}

#right-container {
    height: 100%;
    width: 60%;
    background: #ffffff;
}

#text-container {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

#text-container p {
    margin: 1rem 2rem;
    font-weight: 700;
}

#form-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form {
    height: 100%;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem 2rem;
}

input {
    height: 30px;
    width: 220px;
}